body {

    padding: 20px;
    margin: 0px;
    background-image: url(/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
 
 }
 
 
 #wrapper {
 
    background-color: #fff;
 
    width: 960px;
 
    padding: 15px;
     margin: 0 auto;

 
 }
 
 #header {
 
 background-color: #C51417;
 overflow: hidden;
 
 margin-bottom: 10px;
 }
 
 .logo {
   
    float: left;
 }
 
 
 .slogan {
 
    float: right;
 }
 
 .slogan p {
 
    color: #fff;
    font-size: 22px;
     margin: 0;
     padding: 15px;
 }
 
 #nav {
     background-color:#333;
     clear:both;
     overflow:hidden;
 }
 
 #nav ul {
     margin:0;
     padding:0;
     list-style:none;
 }
 
 #nav ul li {
     float:left;
 }
 
 #nav ul li a {
     padding:12px 10px;
     display:block;
     font-size:14px;
 }
 
 #nav ul li a:link,
 #nav ul li a:visited {
     color:#ffffff;
     text-decoration:none;
 }
 
 #nav ul li a:hover {
     background-color:#C51417;
 }
 
 #nav ul li a:active {
     color:#000000;
 }
 
 .social  {
 
    float: right;
    color: #fff;
    font-size: 20px;
    margin: 10px 9px;
 }
 
 .social i:hover {
 
    color: #C51417;
    cursor: pointer;
 }
 
 #main {
 
 width: 700px;
 float: left;
 
 }
 
 #sidebar {
 
    width: 240px;
    float: right;
 }
 
 #sidebar h2 {
 
    background-color: red;
    text-align: center;
 }
 
 #footer {
 
    clear: both;
    background-color: #333;
 padding: 5px;
 }
 
 #footer p {
    text-align: center;
    color: #fff;
    margin: 0;
 }
 
 h2 {
 
    background-color: #bbb;
    color: #fff;
    padding: 5px;
 }